<!--마당사업설명관련 카드패널  -->
  <!--변수:마당사업사진,메뉴,단대별주소-->

   <div class="row">
        <div class="col s12 ">
          <div class="card">
            <div class="card-image">
              <%=image_tag @food.imageurl%>
              <span class="card-title white-text "> <%=@food.title%> </span>
            </div>
            <div class="card-content "  align="center">
                 <div id="map" style="width:100%;height:200px;"></div>
            </div>
            
            <div class="card-content " align ="center">
                    <div class="row">
                          <%=@food.content%>
                     </div>     
      <!--카카오톡버튼-->
                        <a href="javascript:sendLink()">
                          <div class ="kakaobtn1"> </div>
                        </a>
                     
                 </div>
            
            <div class="card-action">
                <%=form_for :comment_food, url: food_comment_foods_path(@food.id) do |f|%>
                  <%=label_tag :content%>
                  <%=text_field_tag :content%>
                  <%=f.submit '작성'%>
                <%end%>
            </div>
             
            <div class="card-action ">
                <%CommentFood.all.each do |comment|%>
                  <%=comment.content%>
                  <%=link_to '[삭제]', bar_comment_bar_path(@food.id, comment.id), method: 'delete'%>
                  <br>
                <% end %>
            </div>
          
          </div>
        </div>
      </div>
      

      
    <!--지도관련 js-->
        <script>
               var HOME_PATH = window.HOME_PATH || '.';
      
               var map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(37.551267, 126.941049), //지도의 초기 중심 좌표
                    zoom: 12, //지도의 초기 줌 레벨
                    minZoom: 10, //지도의 최소 줌 레벨
                    zoomControl: true, //줌 컨트롤의 표시 여부
                    zoomControlOptions: { //줌 컨트롤의 옵션
                        position: naver.maps.Position.TOP_RIGHT
                    }
                });
        
        
         //마커
    
            //푸드트럭표시 마커 경도는 변수
            
            var marker = new naver.maps.Marker({
              position: new naver.maps.LatLng(<%=@food.latitude%>, <%=@food.longitude%>),
              map: map});
             
         
        //마커관련끝      
    
          </script>
    


<!--카카오링크관련js-->
  <!--변수: 포스터,분과정보,주점소개      -->
      
          <script type='text/javascript'>
            //<![CDATA[
              // // 사용할 앱의 JavaScript 키를 설정해 주세요.
              Kakao.init('d63ea9e4dc125c484a72c4823953ffb0');
              // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
              function sendLink() {
                Kakao.Link.sendDefault({
                  objectType: 'feed',
                  content: {
                    title: '<%=@food.title%>',
                    description: '<%=@food.description%>' ,
                    imageUrl: '<%=@food.imageurl%>',
                    link: {
                      mobileWebUrl: 'https://choeoeoeoeo-amoamor1.c9users.io/cockpago/result',
                      webUrl: 'https://choeoeoeoeo-amoamor1.c9users.io/cockpago/result'
                    }
                  },
                  buttons: [
                    {
                      title: '푸드 트럭',
                      link: {
                        mobileWebUrl: 'https://choeoeoeoeo-amoamor1.c9users.io/cockpago/result',
                        webUrl: 'https://choeoeoeoeo-amoamor1.c9users.io/cockpago/result'
                      }
                    }
                  ]
                });
              }
            //]]>
          </script>
  
       