<!--   <div class="row">
          
      <a href="#">  
        <div class ="cotainer">
          <div class="col s8 offset-s2 l4 offset-l2">
            <div class="card-panel hoverable">
              <div class="card-image">
                 
                <span class="card-title">Card Title</span>
              </div>
            </div>
          </div>
        </div>
      </a>
        
          
      <a href="#">  
        <div class ="cotainer">
          <div class="col s8 offset-s2 l4 offset-l2">
            <div class="card-panel hoverable">
              <div class="card-image">
                <%=image_tag('cocktail.jpg', size: '200x520')%>
                <span class="card-title">Card Title</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      
            
  </div>
  
  <div class="row">
      
      <a href="#">  
        <div class ="cotainer">
          <div class="col s8 offset-s2 l4 offset-l2">
            <div class="card-panel hoverable">
              <div class="card-image">
                <%=image_tag('cocktail.jpg', size: '200x520')%>
                <span class="card-title">Card Title</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      
      <a href="#">  
        <div class ="cotainer">
          <div class="col s8 offset-s2 l4 offset-l2">
            <div class="card-panel hoverable">
              <div class="card-image">
                <%=image_tag('cocktail.jpg', size: '200x520')%>
                <span class="card-title">Card Title</span>
              </div>
            </div>
          </div>
        </div>
      </a>
        
  </div> -->
<div style="height: 100px"></div>
<div class="container">
  <div class="row">
          <div class="col s8 offset-s2 offset-l2 l4 ">
            <div class="post-box" >
              <%=link_to '푸드트럭', foods_path%>
     
            </div>
              
          </div>

          <div class="col s8 offset-s2 l4 " >
            <div class="post-box">
              <%=link_to '주점', bars_index_path%>
            </div>
          </div>
  </div>


      
  <div class="row">
      <div class="col s8 offset-s2 l4 offset-l2">
            <div class="post-box">
              <%=link_to '마당사업', snacks_path%>
            </div>
              
          </div>

          <div class="col s8 offset-s2 l4 ">
            <div class="post-box">
              <%=link_to '축제일정' %>
            </div>
          </div>
      </div>
  </div>
</div>