<!DOCTYPE html>
<html>
  <head>
    <title>IlyNew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>
 
  <!--카카오톡-->
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  
  <!--네이버맵-->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=wr1cqUsM1fEYVKwLwsFm"></script>
  
 <!--페이스북-->
  
  <meta property="fb:app_id" content="1281862511932264" />
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="아일리" />
  <meta property="og:url" content="https://ily-new-amoamor1.c9users.io/bars/1" />
  <meta property="og:description" content="신촌대학축제정보"/>
  <meta property="og:image" content="http://kmug.co.kr/board/data/thumb_img/design/th38300%BC%AD%B0%AD%B4%EB%C7%D0%B1%B3__.jpg" />
  
  <!--폰트-->
  <link href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />
  
  


 
 
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
  </head>

  <body>
   <!--네브바-->
	    <nav class="nav-extended ">
        <div class="nav-wrapper white" >
          <a href="/" class="brand-logo"><div class ="brand-logo-img"></div></a>
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons sogangcolor">menu</i></a>

        </div>
      
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">서강대학교</a></li>
          <li><a href="collapsible.html">이화여자대학교</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">서강대학교</a></li>
          <li><a href="collapsible.html">이화여자대학교</a></li>
        </ul>
   
	   
	    <div class="nav-content center">

	      <ul class="tabs tabs-transparent red darken-4 ">
	        <li class="tab col l3 s3"><a class="white-text" href="/bars">일일주점</a></li>
	        <li class="tab col l3 s3"><a class="white-text" href="/foods/index">푸드트럭</a></li>
	        <li class="tab col l3 s3"><a class="white-text" href="/snacks">마당사업</a></li>
	        <li class="tab col l3 s3"><a class="white-text" href="#test4">축제일정</a></li>
	      </ul>
	    </div>
	  </nav>
    <!-- <div id="foods" class="col s12 m12 l12"><%=render 'foods/index'%></div>
    <div id="bars" class="col s12"><%=render 'bars/index'%></div>
    <div id="snacks" class="col s12"><%=render 'snacks/index'%></div>
    <div id="test4" class="col s12">Test 4</div> -->
    <%= yield %>
     <!--풋터  -->
      <footer class="page-footer red darken-4">
          
          <div class="container ">
            <div class="row ">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">김재훈(서강대학교) / 이찬하(서강대학교)</p>
              </div>
            </div>
          </div>
          
          <div class="footer-copyright">
            <div class="container">
            멋쟁이사자처럼
            </div>
          </div>
          
    </footer>
    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="/myjs/app.js"></script>
  </body>
</html>
